name: Build and Deploy

on:
  push:
    branches:
      - main  # Runs every time you push to main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy to Deploy Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: deploy # The branch the action should push to
          folder: dist   # The folder the action should push